<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>


<!-- Navbar -->
<div th:insert="~{navbarAdmin :: navbarComponenetAdministrador}"></div>




<section class="container-fluid lg-5">
    <!-- Home -->
    <div class="container mt-3">
        <div class="container-fluid custom-margin-top">
            <h2>Perfil del Administrador</h2>
            <table class="table table-bordered" th:method="@{/administradores/administradores/perfilAdministrador}">
                <thead>
                <tr>
                    <th>NIF: </th>
                    <th>Nombre completo: </th>
                    <th>Email: </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>NIF</td>
                    <td th:text="${admin.nif_admin}"></td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td th:text="${admin.nombre_admin}"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td th:text="${admin.email_admin}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>