<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="../../../../static/styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>

<!-- Navbar -->
<div th:insert="~{navbarAlumnoGrade :: navbarAlumnoComponenet}"></div>


<!-- GIF de bienvenida -->
<section id="video-welcome" class="container-fluid mt-lg-5">
    <img th:src="@{/images/clase.webp}" alt="Asignatura" class="w-100">
    <div id="video-text">
        <h2 class="test" th:text="${asignatura.nombre_asignatura}"></h2>
    </div>
</section>

<section class="container-fluid lg-5">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Próximas Entregas
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> No tienes ninguna tarea por entregar</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <div class="card mb-3" th:each="tarea : ${tareas}">
                        <div class="card-body">
                            <div class="d-flex text-body-secondary pt-3 align-items-center">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                                     preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#e83e8c"></rect>
                                    <text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text>
                                </svg>
                                <div class="d-flex flex-column">
                                    <div class="pb-3 mb-0 small lh-sm">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                    <strong th:text="${tarea.titulo_tarea +' - '+tarea.tipo_tarea}"></strong><br>
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p th:text="${tarea.descripcion_tarea}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center ms-auto">
                                    <a th:href="@{/alumnos/asignaturas/verUnaTarea/{idTarea}(idTarea=${tarea.id_tarea})}" class="btn btn-primary">Ver tarea</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>
