<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


</head>

<body>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/homeAdmin">Study With Me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/readStudientAdmin">Alumno</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/readTeacherAdmin">Profesor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/readGradeAdmin">Clases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/readCourseAdmin">Cursos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="container-fluid lg-5">
    <!-- Home -->
    <div class="container mt-3">
        <div class="container-fluid custom-margin-top">
            <h3>Alumnos</h3>

            <!-- Filtro de búsqueda -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar alumno" aria-label="Buscar alumno" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
            </div>

            <!-- Botón para añadir nuevo alumno -->
            <a href="/admin/alumnos/nuevo" class="btn btn-primary mb-3"><i class="bi bi-person-plus"></i> Añadir nuevo alumno</a>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Edad</th>
                    <th>Curso</th>
                    <th>Nombre Padre</th>
                    <th>Nombre Madre</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="alumno : ${alumnos}">
                    <td th:text="${alumno.nombre}"></td>
                    <td th:text="${alumno.email}"></td>
                    <td th:text="${alumno.edad}"></td>
                    <td th:text="${alumno.curso}"></td>
                    <td th:text="${alumno.nombrePadre}"></td>
                    <td th:text="${alumno.nombreMadre}"></td>
                    <td>
                        <a th:href="@{/admin/alumnos/edit/{id}(id=${alumno.id})}" class="btn btn-primary"><i class="bi bi-pen"></i></a>
                        <a th:href="@{/admin/alumnos/delete/{id}(id=${alumno.id})}" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>
</html>