<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


</head>

<body>


<!-- Navbar -->
<!--<div th:insert="~{navbarAdmin :: navbarAdminComonente}"></div>-->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Study With Me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ALUMNOS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/administradores/alumnos/viewCrearAlumnoAdmin}">Crear alumnos</a></li>
                        <li><a class="dropdown-item" th:href="@{/administradores/alumnos/viewListarAlumnosAdmin}">Mostrar alumnos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkProfesores" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PROFESORES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/administradores/profesor/viewCrearProfesorAdministrador}">Crear profesores</a></li>
                        <li><a class="dropdown-item" th:href="@{/administradores/profesor/viewListarProfesoresAdministradores}">Mostrar profesores</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAsignaturas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ASIGNATURAS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/administradores/asignatura/viewCrearAsignaturaAdministrador}">Crear asignaturas</a></li>
                        <li><a class="dropdown-item" th:href="@{/administradores/asignatura/viewCrearAsignaturaAdministrador}">Mostrar asignaturas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkCursos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CURSOS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/administradores/curso/viewCrearCursoAdministrador}">Crear cursos</a></li>
                        <li><a class="dropdown-item" th:href="@{/administradores/curso/viewListarCursosAdministradores}">Mostrar cursos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAdministradores" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ADMINISTRADORES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/administradores/administradores/viewCrearAdministrador}">Crear administradores</a></li>
                        <li><a class="dropdown-item" th:href="@{/administradores/administradores/viewListarAdministradores}">Mostrar administradores</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/administradores/administradores/viewHomeAdministrador}">Perfil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="container-fluid lg-5">
    <!-- Home -->
    <div class="container mt-3">
        <div class="container-fluid custom-margin-top">
            <h3>Añadir Nuevo Profesor</h3>

            <!-- Formulario para añadir nuevo profesor -->
            <form id="profesorForm" th:action="@{/administradores/profesor/guardarProfesor}" method="post" onsubmit="return validarFormulario()">
                <input type="hidden" id="id" name="id" th:value="${profesor != null ? profesor.id : ''}">
                <div class="mb-3">
                    <label for="nif_profesor" class="form-label">NIF/DNI del profesor</label>
                    <input type="text" class="form-control" id="nif_profesor" name="nif_profesor" placeholder="NIF del profesor"
                           th:value="${profesor != null ? profesor.nif : ''}" required>
                </div>
                <div class="mb-3">
                    <label for="nombre_profesor" class="form-label">Nombre del profesor</label>
                    <input type="text" class="form-control" id="nombre_profesor" name="nombre_profesor" placeholder="Nombre del profesor"
                           th:value="${profesor != null ? profesor.nombre : ''}" required>
                </div>
                <div class="mb-3">
                    <label for="email_profesor" class="form-label">Email del profesor</label>
                    <input type="email" class="form-control" id="email_profesor" name="email_profesor" placeholder="Email del profesor"
                           th:value="${profesor != null ? profesor.email : ''}" required>
                </div>
                <div class="mb-3">
                    <label for="password_profesor" class="form-label">Contraseña del profesor</label>
                    <input type="password" class="form-control" id="password_profesor" name="password_profesor" placeholder="Contraseña del profesor"
                           th:value="${profesor != null ? profesor.password : ''}" required>
                </div>
<!--                <div class="mb-3">-->
<!--                    <label for="asignatura" class="form-label">Asignatura</label>-->
<!--                    <select class="form-select" id="asignatura" name="asignatura" required>-->
<!--                        <option value="">Seecciona una asignatura</option>-->
<!--                        <option th:each="asignatura : ${asignaturas}" th:value="${asignatura.id}"-->
<!--                                th:text="${asignatura.nombre}"></option>-->
<!--                    </select>-->
<!--                    <div class="invalid-feedback">-->
<!--                        Por favor, selecciona un profesor.-->
<!--                    </div>-->
<!--                </div>-->
                <button type="submit" class="btn btn-primary">Añadir Profesor</button>
            </form>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>
