<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../static/styles/style.css">

</head>

<body>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Study With Me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ALUMNOS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/administradores/alumnos/viewCrearAlumnoAdmin}">Crear alumnos</a></li>
                        <li><a class="dropdown-item" th:href="@{/administradores/alumnos/viewListarAlumnosAdmin}">Mostrar alumnos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkProfesores" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PROFESORES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/administradores/profesor/viewCrearProfesorAdministrador}">Crear profesores</a></li>
                        <li><a class="dropdown-item" th:href="@{/administradores/profesor/viewListarProfesoresAdministradores}">Mostrar profesores</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAsignaturas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ASIGNATURAS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/administradores/asignatura/viewCrearAsignaturaAdministrador}">Crear asignaturas</a></li>
                        <li><a class="dropdown-item" th:href="@{/administradores/asignatura/viewCrearAsignaturaAdministrador}">Mostrar asignaturas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkCursos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CURSOS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/administradores/curso/viewCrearCursoAdministrador}">Crear cursos</a></li>
                        <li><a class="dropdown-item" th:href="@{/administradores/curso/viewListarCursosAdministradores}">Mostrar cursos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAdministradores" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ADMINISTRADORES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/administradores/administradores/viewCrearAdministrador}">Crear administradores</a></li>
                        <li><a class="dropdown-item" th:href="@{/administradores/administradores/viewListarAdministradores}">Mostrar administradores</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/administradores/administradores/viewHomeAdministrador}">Perfil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<section class="container-fluid lg-5 content-container">
    <!-- Home -->
    <div class="container mt-3">
        <div class="container-fluid custom-margin-top">

            <h3>Asignaturas</h3>

            <!-- Lectura de asignaturas -->
            <form id="asignaturaForm" th:action="@{/administradores/asignatura/actualizarAsignatura/{id_asignatura}(id_asignatura=${asignatura.id_asignatura})}" method="post"
                  th:object="${asignatura}" onsubmit="return validarFormulario()" class="needs-validation" novalidate>
                <input type="hidden" id="id" name="id" th:value="${asignatura != null ? asignatura.id_asignatura : ''}">
                <div class="mb-3">
                    <label for="nombre_asignatura" class="form-label">Nombre de la asignatura:</label>
                    <input type="text" class="form-control" id="nombre_asignatura" name="nombre_asignatura"
                           placeholder="Nombre de la asignatura" th:value="${asignatura != null ? asignatura.nombre_asignatura : ''}" required>
                    <div class="invalid-feedback">
                        Por favor ingresa el nombre de la asignatura.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="nombre_curso_asignatura" class="form-label">Nombre del curso:</label>
                    <input type="text" class="form-control" id="nombre_curso_asignatura" name="nombre_curso_asignatura"
                           placeholder="Nombre del curso" th:value="${asignatura != null ? asignatura.nombre_curso_asignatura : ''}" required>
                    <div class="invalid-feedback">
                        Por favor ingresa el nombre del curso.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="nif_profesor_asignatura" class="form-label">NIF del profesor:</label>
                    <input type="text" class="form-control" id="nif_profesor_asignatura" name="nif_profesor_asignatura"
                           placeholder="NIF del profesor" th:value="${asignatura != null ? asignatura.nif_profesor_asignatura : ''}" required>
                    <div class="invalid-feedback">
                        Por favor ingresa un NIF válido.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Actualizar asignatura</button>

            </form>
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script src="../../../../static/scripts/validatorForm.js"></script>

</body>
</html>
