<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Study With Me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="knowUs.html">Conócenos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="enroll.html">Mátriculate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/session/iniciarSesion.html">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="container-fluid mt-lg-5">
    <div class="container mt-3">
        <div class="container-fluid custom-margin-top">
            <!-- Sección Calendario de Admisión -->
            <section id="calendario-admision" class="container-fluid">


                <!-- Proceso de Matriculación -->
                <div class="row mt-4">
                    <div class="col-md-12">
                        <h3>Requerimientos para la Matriculación en Study With Me</h3>
                        <p>Te invitamos a participar en nuestro proceso de admisión, que consta de las siguientes
                            etapas:</p>
                        <ol>
                            <li><strong>Jornada de Puertas Abiertas:</strong> 9 de marzo</li>
                            <p>Le extendemos una invitación especial para unirse a nosotros durante nuestra jornada de
                                puertas
                                abiertas. Este evento le brindará la oportunidad única de explorar nuestras
                                instalaciones,
                                interactuar con nuestro personal y descubrir todo lo que Study With Me tiene para
                                ofrecer.</p>
                            <li><strong>Solicitud de Admisión:</strong> Del 3 al 16 de abril</li>
                            <p>Le instamos a presentar su solicitud de admisión durante este período. Estamos
                                emocionados
                                por
                                conocerle y aprender más sobre sus metas educativas.</p>
                            <li><strong>Papeles Necesarios para la Matriculación:</strong>
                                <ul>
                                    <li>Formulario de Matrícula: Proporcionado por la escuela, este formulario debe
                                        completarse con
                                        la información del estudiante y de los padres o tutores.
                                    </li>
                                    <li>Certificado de Nacimiento: Copia del certificado de nacimiento del estudiante
                                        para
                                        verificar
                                        la edad y la identidad.
                                    </li>
                                    <li>Fotografías: En algunos casos, se pueden requerir fotografías recientes del
                                        estudiante para
                                        su expediente.
                                    </li>
                                    <li>Documentos de Identificación de los Padres o Tutores: Copias de documentos de
                                        identificación, como cédulas de identidad, pasaportes u otros documentos
                                        legales, de
                                        los
                                        padres o tutores.
                                    </li>
                                    <li>Cartilla de Vacunación: Copia de la cartilla de vacunación actualizada del
                                        estudiante para
                                        verificar que ha recibido las vacunas requeridas.
                                    </li>
                                    <li>Historial Académico o Expediente Escolar: En el caso de estudiantes que se
                                        transfieren de
                                        otra escuela, puede ser necesario proporcionar el historial académico o
                                        expediente
                                        escolar
                                        anterior.
                                    </li>
                                    <li>Informe Médico: Algunas escuelas pueden solicitar un informe médico que indique
                                        el
                                        estado de
                                        salud del estudiante, especialmente en cuanto a condiciones médicas particulares
                                        o
                                        necesidades especiales.
                                    </li>
                                    <li>Comprobante de Domicilio: Documento que certifica el lugar de residencia del
                                        estudiante,
                                        como una factura de servicios públicos o contrato de alquiler a nombre de los
                                        padres
                                        o
                                        tutores.
                                    </li>
                                    <li>Número de Identificación Escolar (si aplica): En algunos casos, se asigna un
                                        número
                                        de
                                        identificación único al estudiante.
                                    </li>
                                    <li>Autorización para la Recogida del Estudiante: Formulario que autoriza a personas
                                        específicas
                                        a recoger al estudiante en ausencia de los padres o tutores.
                                    </li>
                                </ul>
                            </li>
                            <p>Nuestro compromiso es guiarle paso a paso en la preparación de los documentos necesarios.
                                Estamos
                                aquí para hacer que este proceso sea lo más sencillo posible para usted.</p>
                        </ol>
                    </div>
                </div>


                <!-- Formulario de Contacto -->
                <div class="row mt-6">
                    <div class="container mt-5">
                        <div class="col-md-12">
                            <p> <strong>Si desea que nos pongamos en contacto con usted, por favor, rellene el siguiente
                                formulario:</strong> </p>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
                    <div class="container mt-2">
                        <!-- Formulario de Contacto (Datos del alumno, Datos del padre/madre/tutor legal, Datos de contacto, Datos de la dirección) -->
                        <form style="line-height: 2;">
                            <!-- Datos del alumno -->
                            <div class="form-group">
                                <label for="nombreEstudiante">Nombre del Estudiante</label>
                                <input type="text" class="form-control" id="nombreEstudiante" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="apellidoEstudiante">Apellidos del Estudiante</label>
                                <input type="text" class="form-control" id="apellidoEstudiante" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" id="fechaNacimiento" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="genero">Género</label>
                                <select class="form-control" id="genero">
                                    <option>Masculino</option>
                                    <option>Femenino</option>
                                    <option>Otro</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="curso">Curso</label>
                                <select class="form-control" id="curso">
                                    <option>1º infantil</option>
                                    <option>2º infantil</option>
                                    <option>3º infantil</option>
                                    <option>1º primaria</option>
                                    <option>2º primaria</option>
                                    <option>3º primaria</option>
                                    <option>4ª primaria</option>
                                    <option>5º primaria</option>
                                    <option>6º primaria</option>
                                    <option>1º ESO</option>
                                    <option>2º ESO</option>
                                    <option>3º ESO</option>
                                    <option>4º ESO</option>
                                    <option>1º Bachillerato</option>
                                    <option>2º Bachillerato</option>
                                </select>
                            </div>

                            <!-- Datos del padre/madre/tutor legal -->
                            <div class="form-group">
                                <label for="nombrePadre">Nombre del Padre/Madre/Tutor legal</label>
                                <input type="text" class="form-control" id="nombrePadre" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="apellidoPadre">Apellidos del Padre/Madre/Tutor legal</label>
                                <input type="text" class="form-control" id="apellidoPadre" placeholder="">
                            </div>

                            <!-- Datos de contacto -->
                            <div class="form-group">
                                <label for="emailPadre">Email del Padre/Madre/Tutor legal</label>
                                <input type="email" class="form-control" id="emailPadre" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="telefonoPadre">Teléfono del Padre/Madre/Tutor legal</label>
                                <input type="tel" class="form-control" id="telefonoPadre" placeholder="">
                            </div>

                            <!-- Datos de la dirección -->
                            <div class="form-group">
                                <label for="direccion">Dirección</label>
                                <input type="text" class="form-control" id="direccion" placeholder="">
                            </div>

                            <br>

                            <!-- Botón de envío -->
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button type="submit" class="btn btn-primary">Enviar
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-send" viewBox="0 0 16 16">
                                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                        <p>Si tiene alguna pregunta o necesita asistencia durante el proceso de matriculación, no dude
                            en <a
                                    href="#contacto">ponerse en contacto con nosotros</a>. Estamos aquí para asistirle
                            en cada
                            paso
                            hacia su educación en Study With Me.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>
</html>