<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Study With Me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="knowUs">Conócenos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="join">Mátriculate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${!(userAuthenticated == null)}" th:href="@{/login}">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${userAuthenticated == null}" th:href="@{/logout}">Cerrar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${userAuthenticated == null}"  th:href="@{/perfil}">Perfil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- GIF de bienvenida -->
<section id="video-welcome" class="container-fluid mt-lg-5">
     <img th:src="@{/images/index/infantil.webp}" alt="Bienvenida a Study With Me" class="w-100">
    <div id="video-text">
        <h2 class="test">Bienvenido a StudyWithMe</h2>
    </div>
</section>

<section class="container-fluid lg-5">
    <!-- Home -->
    <div class="container mt-3">
        <div class="container-fluid custom-margin-top">

            <!-- Sección Home -->
            <section id="home" class="container-fluid">

                <p>Somos un centro educativo comprometido con la excelencia académica y el desarrollo integral de
                    nuestros
                    estudiantes. Enfocamos nuestros esfuerzos en proporcionar un ambiente educativo enriquecedor que
                    inspire
                    el amor por el aprendizaje y fomente el crecimiento personal.</p>
                <p>Nuestro equipo de educadores altamente calificados está dedicado a guiar a los estudiantes en su
                    viaje
                    educativo, brindando apoyo individualizado y fomentando el pensamiento crítico y la creatividad.</p>
                <p>En Study With Me, nos esforzamos por crear un ambiente inclusivo que celebre la diversidad y promueva
                    valores fundamentales como la resiliencia, la responsabilidad y el respeto.</p>

                <br><br><br>

                <h3><strong> Eventos y Programas Destacados </strong></h3>
                <p>Descubre una variedad de eventos emocionantes y programas educativos que ofrecemos a nuestros
                    estudiantes. Desde competiciones académicas hasta actividades artísticas y deportivas, buscamos
                    enriquecer la experiencia educativa más allá del aula.</p>
            </section>

            <!-- Calendario Escolar -->
            <section class="container-fluid">
                <!-- Actividad 1 con imagen -->
                <div class="row mt-4">
                    <div class="col-md-6 order-md-3">
                        <h3>El Día del Deporte</h3>
                        <p>
                            Sumérgete en un día extraordinario de actividades deportivas en nuestro evento anual, El Día
                            del Deporte. Desde
                            emocionantes partidos de fútbol hasta competiciones intensas de baloncesto y voleibol, este
                            día está diseñado
                            para atraer a participantes de todas las edades y niveles escolares, desde los más pequeños
                            de infantil hasta
                            los estudiantes de bachillerato. Imagina a los equipos de primaria demostrando su destreza
                            en juegos de relevos,
                            mientras que los estudiantes de secundaria y bachillerato se enfrentan en apasionantes
                            torneos de fútbol y
                            baloncesto.
                        </p>
                        <p>
                            Los campeones de cada categoría serán honrados con trofeos relucientes y medallas, un
                            testimonio tangible de su
                            dedicación y habilidades deportivas. Además, todos los participantes recibirán certificados
                            de reconocimiento
                            por su valiosa contribución al espíritu deportivo de nuestra comunidad escolar. ¡Prepárate
                            para vivir un día
                            inolvidable lleno de competencia saludable y celebración deportiva!
                        </p>
                        <p>
                            <strong>Fecha:</strong> 10 de septiembre de 2024<br>
                            <strong>Hora:</strong> 10:00 AM - 4:00 PM<br>
                            <strong>Lugar:</strong> Complejo Deportivo
                        </p>
                    </div>
                    <div class="col-md-6 order-md-4">
                        <img th:src="@{/images/index/diaDeporte.webp}" alt="Dia del deporte" class="img-fluid">
                    </div>
                </div>

                <!-- Actividad 2 -->
                <div class="row mt-4">
                    <h3>Exhibición Artística</h3>
                    <p>
                        Sumérgete en un mundo de creatividad en nuestra Exhibición Artística. Desde impresionantes
                        pinturas
                        hasta
                        cautivadoras actuaciones en vivo, este evento celebra el talento artístico de nuestros
                        estudiantes.
                        Imagina a
                        los más pequeños de infantil exhibiendo sus obras coloridas, mientras que los mayores de
                        bachillerato
                        nos
                        sorprenden con interpretaciones artísticas únicas.
                    </p>
                    <p>
                        Los participantes recibirán reconocimientos por su destreza artística, y los visitantes tendrán
                        la
                        oportunidad
                        de votar por sus obras favoritas. Además, algunos artistas serán seleccionados para una
                        exposición
                        especial en
                        nuestro salón de arte. ¡Únete a nosotros y sumérgete en el mundo de la expresión creativa!
                    </p>
                    <p>
                        <strong>Fecha:</strong> 15 de octubre de 2024<br>
                        <strong>Hora:</strong> 2:00 PM - 4:00 PM<br>
                        <strong>Lugar:</strong> Salón de Actos
                    </p>
                </div>

                <!-- Actividad 3 con imagen -->
                <div class="row mt-4">
                    <div class="col-md-6 order-md-3">
                        <h3>Exploración Científica</h3>
                        <p>
                            Únete a nosotros en un emocionante viaje a través de la ciencia en nuestra Exploración
                            Científica.
                            Desde
                            experimentos interactivos hasta demostraciones sorprendentes, este día está dedicado a
                            despertar la
                            curiosidad
                            científica. Todos los estudiantes, desde infantil hasta bachillerato, tendrán la oportunidad
                            de
                            participar
                            en actividades adaptadas a su nivel.
                        </p>
                        <p>
                            Los científicos más destacados recibirán premios por sus descubrimientos, y algunos
                            proyectos serán
                            presentados
                            en una galería virtual. ¡Descubre el asombro de la ciencia y únete a nosotros en este viaje
                            educativo
                            inolvidable!
                        </p>
                        <p>
                            <strong>Fecha:</strong> 5 de noviembre de 2024<br>
                            <strong>Hora:</strong> 9:30 AM - 11:30 AM<br>
                            <strong>Lugar:</strong> Polideportivo
                        </p>
                    </div>
                    <div class="col-md-6 order-md-6">
                        <img th:src="@{/images/index/exploracionCientifica.webp}" alt="Exploración Científica" class="img-fluid">
                    </div>
                </div>

                <!-- Actividad 4 -->
                <div class="row mt-4">
                    <h3>Fiesta de Fin de Año</h3>
                    <p>
                        Celebra el cierre de otro año escolar en nuestra vibrante Fiesta de Fin de Año. Desde los más
                        pequeños
                        de infantil
                        hasta los estudiantes de bachillerato, todos se unirán en una fiesta llena de música, baile y
                        alegría.
                        Imagina a
                        los alumnos de secundaria preparando actuaciones sorpresa, mientras que los estudiantes de
                        bachillerato
                        organizan
                        un espectáculo lleno de talento.
                    </p>
                    <p>
                        Los premios a la originalidad y la participación destacada se entregarán al final de la fiesta,
                        seguidos
                        de una
                        espectacular cuenta regresiva para dar la bienvenida al nuevo año escolar. ¡Únete a nosotros
                        para
                        despedir el
                        año con estilo y anticipar un nuevo comienzo!
                    </p>
                    <p>
                        <strong>Fecha:</strong> 20 de diciembre de 2024<br>
                        <strong>Hora:</strong> 1:00 PM - 3:00 PM<br>
                        <strong>Lugar:</strong> Aula 203
                    </p>
                </div>

                <!-- Actividad 5 -->
                <div class="row mt-4">
                    <h3>Día de la Ciencia</h3>
                    <p>
                        Sumérgete en un día lleno de descubrimientos en nuestro Día de la Ciencia. Desde experimentos
                        prácticos
                        hasta
                        demostraciones impresionantes, los estudiantes de todas las edades participarán en actividades
                        adaptadas
                        a su
                        nivel académico. Imagina a los pequeños explorando el mundo de la biología, mientras que los
                        mayores
                        desentrañan
                        los misterios de la física y la química.
                    </p>
                    <p>
                        Los científicos más destacados recibirán certificados de reconocimiento, y los experimentos más
                        fascinantes
                        serán exhibidos en un museo temporal. ¡Únete a nosotros y celebra la maravilla de la ciencia!
                    </p>
                    <p>
                        <strong>Fecha:</strong> 15 de enero de 2025<br>
                        <strong>Hora:</strong> 10:30 AM - 12:30 PM<br>
                        <strong>Lugar:</strong> Laboratorios de Ciencias
                    </p>
                </div>

                <!-- Actividad 6 con imagen -->
                <div class="row mt-4">
                    <div class="col-md-6 order-md-13">
                        <h3>Festival Cultural</h3>
                        <p>
                            Celebra la diversidad cultural en nuestro Festival Cultural anual. Desde presentaciones
                            artísticas
                            hasta
                            exposiciones de la herencia cultural, todos los estudiantes, desde infantil hasta
                            bachillerato,
                            participarán en
                            la promoción de la riqueza cultural. Imagina a los alumnos de primaria presentando danzas
                            tradicionales, y a
                            los estudiantes mayores exponiendo sus tradiciones únicas.
                        </p>
                        <p>
                            Los participantes más destacados serán reconocidos con premios, y algunas exposiciones se
                            presentarán en
                            nuestro museo escolar. ¡Únete a nosotros y descubre la magia de la diversidad cultural!
                        </p>
                        <p>
                            <strong>Fecha:</strong> 5 de febrero de 2025<br>
                            <strong>Hora:</strong> 3:00 PM - 5:00 PM<br>
                            <strong>Lugar:</strong> Salón de Actos
                        </p>
                    </div>
                    <div class="col-md-6 order-md-14">
                        <img th:src="@{/images/index/festivalCultural.webp}" alt="Festival Cultural" class="img-fluid">
                    </div>
                </div>

                <!-- Actividad 7 -->
                <div class="row mt-4">
                    <h3>Torneo de Ajedrez</h3>
                    <p>
                        ¡Desafía tu mente en nuestro emocionante Torneo de Ajedrez! Estudiantes de todas las edades,
                        desde
                        infantil hasta
                        bachillerato, están invitados a participar en este evento anual. Imagina a los más pequeños
                        dando sus
                        primeros
                        pasos en el juego, mientras que los estudiantes mayores compiten en partidas estratégicas y
                        emocionantes.
                    </p>
                    <p>
                        Los campeones de cada categoría recibirán trofeos y reconocimientos, y todos los participantes
                        serán
                        aplaudidos
                        por su dedicación al juego del ajedrez. ¡Únete a nosotros y demuestra tu destreza en el tablero!
                    </p>
                    <p>
                        <strong>Fecha:</strong> 20 de marzo de 2025<br>
                        <strong>Hora:</strong> 2:30 PM - 4:30 PM<br>
                        <strong>Lugar:</strong> Biblioteca
                    </p>
                </div>

                <!-- Actividad 8 y 9 con imagen -->
                <div class="row mt-4">

                    <div class="col-md-4 order-md-1">
                        <img th:src="@{/images/index/concursoTalento.webp}" alt="Concurso de Talento" class="img-fluid">
                    </div>
                    <div class="col-md-8 order-md-2">
                        <h3>Concurso de Talento</h3>
                        <p>
                            ¡Descubre los talentos únicos de nuestros estudiantes en el Concurso de Talento! Desde
                            actuaciones
                            musicales
                            hasta demostraciones extraordinarias, todos los participantes, desde infantil hasta
                            bachillerato,
                            mostrarán
                            sus habilidades en el escenario. Imagina a los más pequeños cantando canciones alegres,
                            mientras que
                            los
                            mayores deslumbran con habilidades sorprendentes.
                        </p>
                        <p>
                            Los ganadores recibirán premios y reconocimientos, y las actuaciones más destacadas serán
                            presentadas en
                            nuestro canal escolar. ¡Únete a nosotros y celebra la diversidad de talentos en nuestra
                            comunidad!
                        </p>
                        <p>
                            <strong>Fecha:</strong> 10 de abril de 2025<br>
                            <strong>Hora:</strong> 6:00 PM - 8:00 PM<br>
                            <strong>Lugar:</strong> Auditorio
                        </p>


                        <!-- Actividad 9 -->
                        <h3>Competencia de Robótica</h3>
                        <p>
                            ¡Sumérgete en el emocionante mundo de la tecnología en nuestra Competencia de Robótica! Equipos
                            de
                            estudiantes
                            diseñarán, construirán y programarán robots para superar desafíos. Imagina a los más pequeños
                            explorando
                            la
                            programación, mientras que los estudiantes mayores construyen robots avanzados.
                        </p>
                        <p>
                            Los equipos ganadores serán elogiados con medallas y certificados de excelencia tecnológica, y
                            algunos
                            robots
                            destacados serán exhibidos en nuestro laboratorio de tecnología. ¡Únete a nosotros y descubre el
                            futuro
                            de la
                            ingeniería!
                        </p>
                        <p>
                            <strong>Fecha:</strong> 5 de mayo de 2025<br>
                            <strong>Hora:</strong> 1:00 PM - 3:00 PM<br>
                            <strong>Lugar:</strong> Laboratorio de Tecnología
                        </p>
                    </div>
                </div>



                <!-- Actividad 10 -->
                <div class="row mt-4">
                    <h3>Día del Libro</h3>
                    <p>
                        ¡Embárcate en una aventura literaria en nuestro Día del Libro! Desde lecturas en voz alta hasta
                        intercambio de
                        libros, todos los estudiantes, desde infantil hasta bachillerato, participarán en actividades
                        relacionadas con la
                        lectura. Imagina a los más pequeños explorando cuentos coloridos, mientras que los estudiantes
                        mayores
                        comparten sus libros favoritos.
                    </p>
                    <p>
                        Los amantes de la lectura recibirán certificados de aprecio por su contribución al fomento de la
                        literatura en
                        nuestra comunidad. ¡Únete a nosotros y celebra la magia de los libros!
                    </p>
                    <p>
                        <strong>Fecha:</strong> 22 de junio de 2025<br>
                        <strong>Hora:</strong> 10:00 AM - 12:00 PM<br>
                        <strong>Lugar:</strong> Biblioteca
                    </p>
                </div>

                <!-- Actividad 11 con imagen -->
                <div class="row mt-4">
                    <div class="col-md-6 order-md-5">
                        <h3>Taller de Arte</h3>
                        <p>
                            ¡Desata tu creatividad en nuestro Taller de Arte! Estudiantes de todas las edades podrán
                            experimentar con
                            diversas formas de arte, desde pintura hasta escultura. Imagina a los más pequeños
                            explorando
                            colores
                            vibrantes, mientras que los estudiantes mayores crean obras maestras únicas.
                        </p>
                        <p>
                            Los artistas más destacados recibirán reconocimientos y algunos trabajos serán exhibidos en
                            nuestro
                            aula de
                            arte. ¡Únete a nosotros y descubre el artista que llevas dentro!
                        </p>
                        <p>
                            <strong>Fecha:</strong> 15 de julio de 2025<br>
                            <strong>Hora:</strong> 3:30 PM - 5:30 PM<br>
                            <strong>Lugar:</strong> Aula de Arte
                        </p>
                    </div>
                    <div class="col-md-6 order-md-6">
                        <img th:src="@{/images/index/tallerArte.webp}" alt="Taller de Arte" class="img-fluid">
                    </div>
                </div>

                <!-- Actividad 12 -->
                <div class="row mt-4">
                    <h3>Olimpiadas Escolares</h3>
                    <p>
                        ¡Vive un día lleno de competencias y juegos en nuestras Olimpiadas Escolares! Los estudiantes
                        podrán
                        mostrar
                        sus habilidades atléticas y espíritu deportivo en una jornada llena de emoción y camaradería.
                        ¡Participa
                        y
                        celebra la grandeza del deporte!
                    </p>
                    <p>
                        <strong>Fecha:</strong> 10 de agosto de 2025<br>
                        <strong>Hora:</strong> 9:00 AM - 2:00 PM<br>
                        <strong>Lugar:</strong> Campos Deportivos
                    </p>
                </div>

                <!-- Actividad 13 con imagen -->
                <div class="row mt-4">
                    <div class="col-md-6 order-md-27">
                        <h3>Conferencia Educativa</h3>
                        <p>
                            ¡Sumérgete en una jornada dedicada a la educación con nuestra Conferencia Educativa! Charlas
                            y
                            presentaciones de expertos en pedagogía y desarrollo educativo te esperan. Una oportunidad
                            para
                            aprender y
                            compartir conocimientos. ¡Únete a la conversación por una educación innovadora!
                        </p>
                        <p>
                            <strong>Fecha:</strong> 5 de septiembre de 2025<br>
                            <strong>Hora:</strong> 10:00 AM - 1:00 PM<br>
                            <strong>Lugar:</strong> Salón de Actos
                        </p>
                    </div>
                    <div class="col-md-6 order-md-28">
                        <img th:src="@{/images/index/conferenciaEducativa.webp}" alt="Conferencia Educativa" class="img-fluid">
                    </div>
                </div>

                <!-- Actividad 14 -->
                <div class="row mt-4">
                    <h3>Día del Medio Ambiente</h3>
                    <p>
                        ¡Participa en actividades centradas en la conciencia ambiental y la sostenibilidad en nuestro
                        Día del
                        Medio
                        Ambiente! Desde plantar árboles hasta charlas sobre la importancia de cuidar nuestro entorno,
                        este
                        evento
                        busca inspirar el respeto por la naturaleza. ¡Únete a nosotros en la preservación de nuestro
                        hogar!
                    </p>
                    <p>
                        <strong>Fecha:</strong> 22 de octubre de 2025<br>
                        <strong>Hora:</strong> 1:30 PM - 3:30 PM<br>
                        <strong>Lugar:</strong> Áreas Verdes
                    </p>
                </div>

                <!-- Actividad 15 con imagen -->
                <div class="row mt-4">
                    <h3>Entrega de Certificados</h3>
                    <p>
                        ¡Celebra los logros académicos y personales de nuestros estudiantes en la Ceremonia de Entrega
                        de
                        Certificados! Una ceremonia especial llena de reconocimientos y celebración de metas alcanzadas.
                        ¡Acompáñanos
                        en este momento significativo!
                    </p>
                    <p>
                        <strong>Fecha:</strong> 15 de noviembre de 2025<br>
                        <strong>Hora:</strong> 6:30 PM - 8:30 PM<br>
                        <strong>Lugar:</strong> Auditorio
                    </p>
                    <img th:src="@{/images/index/entregaCertifiados.webp}" alt="Entrega de Certificados" class="img-fluid">
                </div>
            </section>


        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>
