<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Study With Me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../../../../../../../Users/Isla/Desktop/knowUs.html">Conócenos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="enroll.html">Mátriculate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/session/iniciarSesion.html">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- GIF de bienvenida -->
<section id="video-welcome" class="container-fluid mt-lg-5">
    <img src="videos/TFG.gif" alt="Bienvenida a Study With Me" class="w-100">
    <!-- Texto superpuesto en el GIF -->
    <div id="video-text">
        <h2>Bienvenido a StudyWithMe</h2>
    </div>
</section>

<section class="container-fluid lg-5">
    <div class="container mt-3">
        <div class="container-fluid custom-margin-top">

            <!-- Sección Home -->
            <section id="home" class="container-fluid">

                <p>Somos un centro educativo comprometido con la excelencia académica y el desarrollo integral de
                    nuestros
                    estudiantes. Enfocamos nuestros esfuerzos en proporcionar un ambiente educativo enriquecedor que
                    inspire
                    el amor por el aprendizaje y fomente el crecimiento personal.</p>
                <p>Nuestro equipo de educadores altamente calificados está dedicado a guiar a los estudiantes en su
                    viaje
                    educativo, brindando apoyo individualizado y fomentando el pensamiento crítico y la creatividad.</p>
                <p>En Study With Me, nos esforzamos por crear un ambiente inclusivo que celebre la diversidad y promueva
                    valores fundamentales como la resiliencia, la responsabilidad y el respeto.</p>

                <img src="imagen_home.jpg" alt="Imagen del centro educativo" class="img-fluid">

                <h3>Eventos y Programas Destacados</h3>
                <p>Descubre una variedad de eventos emocionantes y programas educativos que ofrecemos a nuestros
                    estudiantes. Desde competiciones académicas hasta actividades artísticas y deportivas, buscamos
                    enriquecer la experiencia educativa más allá del aula.</p>
            </section>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
