<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Study With Me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#conocenos">Conócenos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ubicacion">Ubicación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ofertas-educativas">Ofertas Educativas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#calendario-escolar">Calendario Escolar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/session/iniciarSesion.html">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section class="container-fluid mt-lg-5">
    <div class="container-fluid custom-margin-top">

        <!-- Sección Home -->
        <section id="home" class="container-fluid">

            <h2>Bienvenido a Study With Me</h2>
            <p>Somos un centro educativo comprometido con la excelencia académica y el desarrollo integral de nuestros
                estudiantes. Enfocamos nuestros esfuerzos en proporcionar un ambiente educativo enriquecedor que inspire
                el amor por el aprendizaje y fomente el crecimiento personal.</p>
            <p>Nuestro equipo de educadores altamente calificados está dedicado a guiar a los estudiantes en su viaje
                educativo, brindando apoyo individualizado y fomentando el pensamiento crítico y la creatividad.</p>
            <p>En Study With Me, nos esforzamos por crear un ambiente inclusivo que celebre la diversidad y promueva
                valores fundamentales como la resiliencia, la responsabilidad y el respeto.</p>

            <img src="imagen_home.jpg" alt="Imagen del centro educativo" class="img-fluid">

            <h3>Eventos y Programas Destacados</h3>
            <p>Descubre una variedad de eventos emocionantes y programas educativos que ofrecemos a nuestros
                estudiantes. Desde competiciones académicas hasta actividades artísticas y deportivas, buscamos
                enriquecer la experiencia educativa más allá del aula.</p>

        </section>


        <!-- Sección Conócenos -->
        <section id="conocenos" class="container-fluid">
            <h2>Conócenos</h2>
            <p>En el Centro Educativo Study With Me, nos enorgullece compartir nuestra visión, valores y compromisos que definen quiénes somos como institución educativa. Explora las secciones a continuación para conocer más sobre nosotros.</p>

            <!-- Quiénes Somos -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <h3>¿Quiénes Somos?</h3>
                    <p>Somos más que un centro educativo; somos una comunidad comprometida con la excelencia académica y el desarrollo integral de cada estudiante. Nuestra misión es crear un ambiente educativo estimulante donde el amor por el aprendizaje se fusiona con el crecimiento personal, preparando a nuestros estudiantes para enfrentar los desafíos del futuro con confianza y determinación. Nos esforzamos por ser un faro de conocimiento y creatividad, impulsando la pasión por aprender a lo largo de toda la vida.</p>
                </div>
            </div>

            <!-- Nuestros Valores -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <h3>Nuestros Valores</h3>
                    <p>Nos regimos por principios fundamentales que guían nuestra práctica educativa. La resiliencia, la responsabilidad, la diversidad y el respeto son más que palabras; son los cimientos sobre los cuales construimos nuestra comunidad educativa. Buscamos inculcar estos valores en cada estudiante, fomentando el desarrollo de individuos íntegros y ciudadanos del mundo comprometidos con la justicia y la equidad. Creemos que estos valores son cruciales para la formación de líderes del mañana.</p>
                </div>
            </div>

            <!-- Idiomas del Centro -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <h3>Idiomas del Centro</h3>
                    <p>En Study With Me, fomentamos un ambiente multilingüe. Nuestro centro ofrece programas educativos en inglés, español y alemán, brindando a nuestros estudiantes la oportunidad de desarrollar habilidades lingüísticas en un entorno diverso e inclusivo. Reconocemos la importancia de la comunicación global y preparamos a nuestros estudiantes para ser ciudadanos del mundo, capaces de comprender y apreciar diversas culturas y perspectivas. La fluidez en varios idiomas se convierte en una herramienta valiosa para su éxito futuro.</p>
                </div>
            </div>

            <!-- Atención a la Diversidad -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <h3>Atención a la Diversidad</h3>
                    <p>Valoramos y celebramos la diversidad en nuestro centro. Implementamos prácticas educativas inclusivas que garantizan que cada estudiante se sienta respetado y apoyado. Nuestro compromiso con la atención a la diversidad se refleja en el diseño de programas adaptativos y en la promoción de un entorno inclusivo que fomente la aceptación y el entendimiento mutuo. Nos esforzamos por ser un espacio donde cada estudiante, independientemente de sus antecedentes y habilidades, encuentre un lugar para crecer, aprender y prosperar.</p>
                </div>
            </div>

            <!-- Preocupación por la Sostenibilidad -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <h3>Preocupación por la Sostenibilidad</h3>
                    <p>En Study With Me, no solo enseñamos sobre sostenibilidad; la vivimos a través de diversos proyectos que marcan la diferencia. Estamos comprometidos con la construcción de un futuro sostenible y lo respaldamos con proyectos significativos:</p>
                    <ul>
                        <li>Proyecto de Reciclaje y Reducción de Residuos</li>
                        <li>Huerto Escolar y Agricultura Sostenible</li>
                        <li>Programa de Concientización sobre Energía Renovable</li>
                        <li>Proyecto de Reducción de Uso de Plásticos</li>
                        <li>Actividades Educativas sobre Conservación de la Biodiversidad</li>
                        <li>Colaboración con Organizaciones Ambientales Locales</li>
                    </ul>
                    <p>Estos proyectos son testimonios tangibles de nuestro compromiso con la educación ambiental y la construcción de un futuro más sostenible para las generaciones venideras.</p>
                </div>
            </div>
        </section>

        <!-- Sección Ubicación -->
        <section id="ubicacion" class="container-fluid">
            <h2>Ubicación</h2>
            <p>Nuestro centro educativo está convenientemente ubicado en el corazón de la ciudad. Contamos con
                instalaciones modernas y accesibles para brindar a nuestros estudiantes un entorno propicio para el
                aprendizaje.</p>
            <img src="imagen_ubicacion.jpg" alt="Ubicación">
            <p>Visítanos y descubre cómo nuestra ubicación central facilita el acceso y la participación de la comunidad
                educativa.</p>
        </section>

        <!-- Sección Contacto -->
        <section id="contacto" class="container-fluid">
            <h2>Contacto</h2>
            <p>Si tienes alguna pregunta o deseas obtener más información sobre nuestro centro educativo, no dudes en
                ponerte en contacto con nosotros. Estamos aquí para ayudarte.</p>
            <img src="imagen_contacto.jpg" alt="Contacto">
            <p>¡Esperamos verte pronto en el Centro Educativo Study With Me!</p>
            <address>
                <!--
                      <strong>Dirección:</strong> 123 Calle Principal, Ciudad XYZ<br>
                -->
                <strong>Teléfono:</strong> (123) 456-7890<br>
                <strong>Email:</strong> info@centroeducativoxyz.com
            </address>

            <!-- Formulario de contacto -->
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6">
                        <form action="#" method="post">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>

                            <div class="mb-3">
                                <label for="mensaje" class="form-label">Mensaje:</label>
                                <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                        </form>
                    </div>
                </div>
            </div>

        </section>

        <!-- Sección Ofertas Educativas -->
        <section id="ofertas-educativas" class="container-fluid">
            <h2>Ofertas Educativas</h2>
            <p>En el Centro Educativo Study With Me, ofrecemos una amplia variedad de programas educativos desde la
                etapa de educación infantil hasta bachillerato. Nuestro plan de estudios está diseñado para nutrir el
                desarrollo integral de cada estudiante.</p>
            <p>Descubre nuestras opciones educativas y cómo adaptamos nuestros programas para satisfacer las necesidades
                individuales de nuestros estudiantes.</p>

            <!-- Ciclo de Educación Infantil -->
            <div class="row mt-4">
                <div class="col-md-6 order-md-5">
                    <h4>Educación Infantil</h4>
                    <p>En nuestro ciclo de Educación Infantil, nos enfocamos en el desarrollo cognitivo y emocional de
                        los más pequeños. Los niños participarán en actividades lúdicas y educativas que fomentarán la
                        curiosidad y el amor por el aprendizaje desde una edad temprana.</p>
                    <p>El equipo de profesionales altamente calificados se centra en la creación de un ambiente seguro y
                        estimulante donde cada niño pueda explorar, descubrir y desarrollar habilidades
                        fundamentales.</p>
                </div>
                <div class="col-md-6 order-md-6">
                    <img src="imagen_educacion_infantil.jpg" alt="Educación Infantil" class="img-fluid">
                </div>
            </div>

            <!-- Ciclo de Educación Primaria -->
            <div class="row mt-4">
                <div class="col-md-6 order-md-3">
                    <h4>Educación Primaria</h4>
                    <p>Nuestro ciclo de Educación Primaria ofrece un ambiente de aprendizaje estimulante donde los
                        estudiantes desarrollan habilidades fundamentales en matemáticas, ciencias, lenguaje y más.
                        Fomentamos el trabajo en equipo, la participación activa y la autonomía académica.</p>
                    <p>Los docentes altamente capacitados guían a los estudiantes en su viaje educativo, proporcionando
                        un plan de estudios integral y experiencias educativas que fomentan el pensamiento crítico y la
                        resolución de problemas.</p>
                </div>
                <div class="col-md-6 order-md-4">
                    <img src="imagen_educacion_primaria.jpg" alt="Educación Primaria" class="img-fluid">
                </div>
            </div>

            <!-- Ciclo de Educación Secundaria -->
            <div class="row mt-4">
                <div class="col-md-6 order-md-5">
                    <h4>Educación Secundaria</h4>
                    <p>En Educación Secundaria, preparamos a los estudiantes para los desafíos académicos y personales
                        que enfrentarán en el futuro. Ofrecemos una amplia variedad de asignaturas y actividades
                        extracurriculares para desarrollar habilidades críticas y fomentar la exploración de
                        intereses.</p>
                    <p>Nuestro enfoque integral incluye orientación académica y personal para ayudar a los estudiantes a
                        tomar decisiones informadas sobre su futuro educativo y profesional.</p>
                </div>
                <div class="col-md-6 order-md-6">
                    <img src="imagen_educacion_secundaria.jpg" alt="Educación Secundaria" class="img-fluid">
                </div>
            </div>

            <!-- Ciclo de Bachillerato -->
            <div class="row mt-4">
                <div class="col-md-6 order-md-7">
                    <h4>Bachillerato</h4>
                    <p>En nuestro programa de Bachillerato, preparamos a los estudiantes para el éxito académico
                        superior y la transición a la educación universitaria. Ofrecemos una variedad de asignaturas
                        avanzadas y oportunidades de liderazgo.</p>
                    <p>Los estudiantes en el Bachillerato tienen la oportunidad de explorar áreas específicas de
                        interés, participar en proyectos de investigación y adquirir las habilidades necesarias para
                        enfrentar los desafíos del mundo académico y profesional.</p>
                </div>
                <div class="col-md-6 order-md-8">
                    <img src="imagen_bachillerato.jpg" alt="Bachillerato" class="img-fluid">
                </div>
            </div>

        </section>

        <!-- Sección Calendario de Admisión -->
        <section id="calendario-admision" class="container-fluid">


            <!-- Proceso de Matriculación -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <h3>Proceso de Matriculación</h3>
                    <p>Te invitamos a participar en nuestro proceso de admisión, que consta de las siguientes
                        etapas:</p>
                    <ol>
                        <li><strong>Jornada de Puertas Abiertas:</strong> 9 de marzo</li>
                        <p>Únete a nosotros en nuestro evento de puertas abiertas, donde tendrás la oportunidad de
                            conocer nuestras instalaciones, interactuar con nuestro personal y descubrir todo lo que
                            Study With Me tiene para ofrecer.</p>
                        <li><strong>Solicitud de Admisión:</strong> Del 3 al 16 de abril</li>
                        <p>Presenta tu solicitud de admisión durante este período. Estamos emocionados de conocerte y
                            aprender más sobre tus metas educativas.</p>
                        <li><strong>Papeles Necesarios para la Matriculación:</strong> Se proporcionará información
                            detallada durante la solicitud de admisión.
                        </li>
                        <p>Te guiaremos paso a paso sobre los documentos necesarios para completar tu proceso de
                            matriculación. Nuestro objetivo es hacer este proceso lo más sencillo posible para ti.</p>
                    </ol>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <p>Si tienes alguna pregunta o necesitas asistencia durante el proceso de matriculación, no dudes en
                        <a href="#contacto">contactarnos</a>. Estamos aquí para ayudarte a dar el siguiente paso hacia
                        tu educación en Study With Me.</p>
                </div>
            </div>
        </section>


    </div>

</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>