<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
<div th:insert="~{navbarAlumno :: navbarAlumnoComonente}"></div>


<section class="container-fluid mt-5">
    <!-- Utiliza Thymeleaf para verificar si hay asignaturas -->
    <div th:if="${not #lists.isEmpty(asignaturas)}" class="visible">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            <!-- Itera sobre las asignaturas -->
            <div class="col" th:each="asignatura : ${asignaturas}">
                <!-- Card -->
                <div class="card h-100">
                    <img th:src="@{'/images/' + ${asignatura.imagen}}" class="card-img-top" alt="Imagen asignatura">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${asignatura.nombreAsignatura}"></h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${asignatura.descripcion}"></h6>
                        <p class="card-text" th:text="${asignatura.detalle}"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary" th:text="${asignatura.profesor}"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3> Actualmente no tienes ninguna asignatura </h3>
</section>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>
