<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

<!-- Navbar -->
<div th:replace="navbarStudient :: navbarStudient"></div>

<section class="container-fluid lg-5">
    <!-- Perfil del Alumno -->
    <div class="container mt-3">
        <div class="container-fluid custom-margin-top">
            <h2>Perfil del Alumno</h2>
            <form th:object="${alumno}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nif">NIF:</label>
                    <input type="text" class="form-control" id="nif" th:value="*{alumno.nifAlumno}" readonly>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" th:value="*{alumno.nombreAlumno}" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" th:value="*{alumno.emailAlumno}" readonly>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" id="password" th:value="*{alumno.passwordAlumno}">
                </div>
                <div class="form-group">
                    <label for="nombrePadre">Nombre del Padre:</label>
                    <input type="text" class="form-control" id="nombrePadre" th:value="*{alumno.nombrePadreAlumno}" readonly>
                </div>
                <div class="form-group">
                    <label for="nombreMadre">Nombre de la Madre:</label>
                    <input type="text" class="form-control" id="nombreMadre" th:value="*{alumno.nombreMadreAlumno}" readonly>
                </div>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>
