<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


</head>

<body>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/homeAdmin">Study With Me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/readStudientAdmin">Alumno</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/readTeacherAdmin">Profesor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/readGradeAdmin">Clases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/readCourseAdmin">Cursos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section class="container-fluid lg-5">
    <!-- Home -->
    <div class="container mt-3">
        <div class="container-fluid custom-margin-top">
            <h3>Administradores</h3>

            <!-- Tabla para mostrar los administradores -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="admin : ${administradores}">
                    <td th:text="${admin.nombre}"></td>
                    <td th:text="${admin.email}"></td>
                    <td>
                        <a th:href="@{/admin/administradores/edit/{id}(id=${admin.id})}" class="btn btn-primary"><i class="bi bi-pen"></i></a>
<!--                        <a th:href="@{/admin/administradores/delete/{id}(id=${admin.id})}" class="btn btn-danger"><i class="bi bi-trash3"></i></a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>
</html>