<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../static/styles/style.css">

</head>

<body>


<!-- Navbar -->
<div th:insert="~{navbarAdmin :: navbarComponenetAdministrador}"></div>



<section class="container-fluid lg-5 content-container">
    <div class="container mt-3">
        <div class="container-fluid custom-margin-top">
            <h3>Crear una nueva tarea</h3>
            <form id="alumnoForm" th:action="@{/administradores/tareas/guardarTarea}" method="post" th:object="${tarea}" onsubmit="return validarFormulario()"
                  class="needs-validation" novalidate>
                <input type="hidden" id="id" name="id" th:value="${tarea != null ? tarea.id_tarea : ''}">
                <div class="mb-3">
                    <label for="tipo_tarea" class="form-label">Tipo de tarea:</label>
                    <input type="text" class="form-control" id="tipo_tarea" name="tipo_tarea"
                           placeholder="Examen" th:value="${tarea != null ? tarea.tipo_tarea : ''}" required>
                    <div class="invalid-feedback">
                        Por favor ingresa el tipo de tarea.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="titulo_tarea" class="form-label">Título de la tarea:</label>
                    <input type="text" class="form-control" id="titulo_tarea" name="titulo_tarea"
                           placeholder="Examen trimestre 1" th:value="${tarea != null ? tarea.titulo_tarea : ''}" required>
                    <div class="invalid-feedback">
                        Por favor ingresa el titulo de la tarea.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="descripcion_tarea" class="form-label">Descripción de la tarea:</label>
                    <input type="text" class="form-control" id="descripcion_tarea" name="descripcion_tarea"
                           placeholder="Descripción del examen" th:value="${tarea != null ? tarea.descripcion_tarea : ''}" required>
                    <div class="invalid-feedback">
                        Por favor ingresa una descripción válida.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="calificacion_tarea" class="form-label">Calificación del alumno:</label>
                    <input type="number" step="0.001" class="form-control" id="calificacion_tarea" name="calificacion_tarea"
                           placeholder="10.000" th:value="${tarea != null ? tarea.calificacion_tarea : ''}"
                           required>
                    <div class="invalid-feedback">
                        La calificacion debe de tener 3 decimales (0.000).
                    </div>
                </div>
                <div class="justify-content-center d-flex">
                    <input type="submit" class="btn btn-primary btn-lg" value="Añadir tarea">
                </div>
            </form>
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script src="../../../../static/scripts/validatorForm.js"></script>

</body>
</html>
