<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Study With Me</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="../../../../static/styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


</head>

<body>


<!-- Navbar -->
<div th:insert="~{navbarAdmin :: navbarComponenetAdministrador}"></div>



<section class="container-fluid lg-5 content-container">
    <div class="container mt-3">
        <div class="container-fluid custom-margin-top">
            <br>
            <div class="row mb-3">
                <div class="col-6">
                    <h3>Tareas</h3>
                </div>
                <div class="col-6 text-end">
                    <a th:href="@{/administradores/tareas/viewCrearTareaAdministrador}" class="btn btn-primary"><i class="bi bi-person-plus"></i> Nueva tarea</a>
                </div>
            </div>

            <table th:method="@{/administradores/tareas/listarTareasAdministrador}" class="table table-striped">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Calificacion</th>
                    <th>Nombre de la asignatura</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tarea : ${tareas}">
                    <td th:text="${tarea.tipo_tarea}"></td>
                    <td th:text="${tarea.titulo_tarea}"></td>
                    <td th:text="${tarea.descripcion_tarea}"></td>
                    <td th:text="${tarea.calificacion_tarea}"></td>
                    <td th:text="${tarea.nombre_asignatura_tarea}"></td>
                    <td>
                        <form th:action="@{/administradores/tarea/viewActualizarTareasAdministradores/{id_tarea}(id_tarea=${tarea.id_tarea})}" method="get">
                            <button type="submit" class="btn btn-info"><i class="bi bi-pencil"></i> Actualizar</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/administradores/tareas/borrarTareaAdministrador/{id_tarea}(id_tarea=${tarea.id_tarea})}" method="post">
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"></i> Eliminar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
<!--            <div th:replace="~{modalDeleteAdmin :: modalDeleteAdmin}"></div>-->
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>