.custom-margin-top {
    margin-top: 6rem ; /* Puedes ajustar el valor según tus necesidades */
}

#video-welcome {
    position: relative;
}

#video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Puedes ajustar el color del texto según tu diseño */
    text-align: center;
}


#video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#video-text h2 {
    font-size: 4vw; /* Ajusta el tamaño del texto en relación con el ancho de la ventana */
}

@media (max-width: 768px) {
    #video-text h2 {
        font-size: 6vw; /* Ajusta el tamaño del texto para pantallas más pequeñas */
    }
}


.calendar-event {
    margin-bottom: 30px;
    padding: 15px;
}

.calendar-event img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.image-space {
    height: 100px; /* Ajusta la altura según sea necesario */
    width: 100%; /* O ajusta el ancho según sea necesario */
    margin-bottom: 30px;
}

.image-left {
    float: left;
    margin-right: 20px;
}

.image-right {
    float: right;
    margin-left: 20px;
}